*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.main-content-section{
    width: 76.4;
}
.header-div{
    width: 100%;
    height: 6rem;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin-bottom: 1.5rem;
}
.category-btn button{
    border: none;
    height: 3rem;
    width: 10rem;
    background-color: #7A1CAC;
    color: #ffffff;
    font-weight: 500;
    transition: all 0.3s ease;
}
.category-btn button:hover{
    background-color: #7a1cacc6;
}
.courses-list-section{
    width: 100%;
    /* height: 500px; */
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2rem 2rem;
}
.courses-list-section table tbody td button{
    height: 2rem;
    width: 2rem;
    margin-right: 3px;
    border: none;
    border-radius: 50%;
    color: #ffffff;
}
.courses-list-section table tbody td .edit-btn{
    background-color: #2195f3cc;
}
.courses-list-section table tbody td .delete-btn{
    background-color: rgba(255, 0, 0, 0.715);
}
.courses-list-section table tbody td{
    padding: 1rem;
}
.courses-list-section table tr{
    border-top: rgba(184, 184, 184, 0.637) solid 1px;
}
.courses-list-section table tr:hover{
    background-color: rgba(46, 7, 63, 0.1);
}
.course-td img{
    height: 4rem;
    width: 4rem;
    margin-right: 1rem;
}
.course-td{
    display: flex;
    align-items: center;
}
.course-td p{
    margin-bottom: 5px;
    font-size: 13px;
    opacity: 0.7;
}
.course-td h6{
    margin-bottom: 0;
    color: #7A1CAC;
    font-size: 18px;
    font-weight: 600;
}

/* ======= All Notice list ======== */
table tbody tr td .view-notice{
    background-color: rgba(255, 0, 0, 0.171);
    width: 6rem;
    height: 2rem;
    border: red solid 1px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    color: red;
}
.all-notice-table tbody tr td{
    font-size: 14px;
    font-weight: 500;
}
